<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>



    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style type="text/css">
        .label-notes {
            color:#FF0000;
        }
    </style>
</head>
<body>

<div th:fragment="menus">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >CMM(Cluster Monitor Management)</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ES List <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/monitor/nodes.html">Nodes</a></li>
                            <!--<li><a href="/monitor/index.html">Health</a></li>-->
                        </ul>
                    </li>
                    
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alert <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/alert/index.html">List</a></li>
                            <li><a href="/alert/create.html">Create</a></li>
                            <li><a href="/alert/logs.html">Logs</a></li>
                            <li><a href="javascript:void(0)" onclick="refresh()">Refresh</a></li>
                        </ul>
                    </li>

                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kafka Manager <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/kafka/manage.html">Manager</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div th:fragment="info">

    <div class="control-group">
        <span class="control-group-label" id="alert-name">Alert Name:</span>
        <input type="text" id="name" class="form-control" aria-describedby="basic-addon1"/>
    </div>
    <br/>
    
    <div class="control-group">
        <span class="control-group-label" id="alert-host">ES Host:</span>
        <select id="host" class="form-control" aria-describedby="basic-addon1">
            <option th:each="host:${hosts}" th:value="${host}" th:text="${host}"></option>
        </select>
    </div>
    <br/>



    <div class="control-group">
        <span class="control-group-label" id="alert-index">Index Name:</span>
        <input type="text" id="index" class="form-control"  aria-describedby="basic-addon1"/>
    </div>
    <br/>
    <hr/>

    <!--<div class="control-group">-->
        <!--<span class="control-group-label" id="alert-filter">Field Filter:</span>-->
        <!--<input type="text" id="filter" class="form-control"  aria-describedby="basic-addon1"/>-->
    <!--</div>-->
    <!--<br/>-->

    <div class="control-group">
        <span class="control-group-label" id="alert-searchkey">Search Key:</span>
        <input type="text" id="searchkey" class="form-control"  aria-describedby="basic-addon1"/>
    </div>
    <br/>
    <div class="control-group">
        <span class="control-group-label" id="alert-ccount">Condition Of Search count:</span>
        <select id="ccount" class="form-control" aria-describedby="basic-addon1">
            <option value="lt">&lt;</option>
            <option value="le">&lt;=</option>
            <option value="eq">==</option>
            <option value="ge">=&gt;</option>
            <option value="gt">&gt;</option>
        </select>
    </div>
    <br/>

    <div class="control-group">
        <span class="control-group-label" id="alert-conditionvalue">Threshold Of Search count:</span>
        <input type="text" id="conditioncount" class="form-control"  aria-describedby="basic-addon1"/>
    </div>

    <br/>
    <hr/>
    <div class="control-group">
        <span class="control-group-label" id="alert-field">Field Name &nbsp;&nbsp;<span class="label-notes">(The field name to obtain the value of a field)</span>:</span>
        <input type="text" id="field" class="form-control"  aria-describedby="basic-addon1"/>
    </div>
    <br/>

    <div class="control-group">
        <span class="control-group-label" id="alert-cvalue">Condition Of Field Value :</span>


        <select id="cvalue" class="form-control" aria-describedby="basic-addon1">
            <option value="lt">&lt;</option>
            <option value="le">&lt;=</option>
            <option value="eq">==</option>
            <option value="ge">=&gt;</option>
            <option value="gt">&gt;</option>
        </select>
    </div>
    <br/>

    <div class="control-group">
        <span class="control-group-label" id="alert-conditioncount">Threshold Of Field value:</span>
        <input type="text" id="conditionvalue" class="form-control"  aria-describedby="basic-addon1"/>
    </div>
    <br/>



    <hr/>
    <div class="control-group" style="font-size: 18px;color:#0000FF">Email Notification</div>
    <br/>
    <div class="control-group">
        <span class="control-group-label" id="alert-notifications">Addresses &nbsp;&nbsp;<span class="label-notes">(Use "," to separate)</span>:</span>
        <input type="text" id="notifications" class="form-control" placeholder="Notification email address" aria-describedby="basic-addon2"/>
    </div>
    <br/>

    <div class="control-group">
        <span class="control-group-label" id="alert-emailtitle">Title:</span>
        <input type="text" id="emailtitle" class="form-control" placeholder="email title" aria-describedby="basic-addon2"/>
    </div>
    <br/>
    <div class="control-group">
        <span class="control-group-label" id="alert-emailtemplate">Template &nbsp;&nbsp;<span class="label-notes">(&nbsp; {count}: search count, {value}: The value obtained by setting the field name&nbsp; )</span>:</span>
        <input type="text" id="emailtemplate" class="form-control" placeholder="email content" aria-describedby="basic-addon2"/>
    </div>
</div>

</body>
</html>