body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:75px;
  top:60px;
  width:585px;
  height:18px;
  font-size:16px;
  color:#0033FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:75px;
  top:20px;
  width:535px;
  height:21px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:75px;
  top:88px;
  width:595px;
  height:18px;
  font-size:16px;
  color:#0033FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:75px;
  top:116px;
  width:585px;
  height:18px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:75px;
  top:144px;
  width:585px;
  height:18px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:75px;
  top:172px;
  width:585px;
  height:18px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:75px;
  top:200px;
  width:595px;
  height:18px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  word-wrap:break-word;
}
