<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>CMM-Monitor</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>


    
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/script/monitor/func.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            init();
        });
        
    </script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >CMM(Cluster Monitor Management)</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alert <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/alert/index.html">List</a></li>
                        <li><a href="/alert/create.html">Create</a></li>
                        <li><a href="/alert/logs.html">Logs</a></li>
                        <li><a href="javascript:void(0)" onclick="refresh()">Refresh</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MonitorCluster <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/monitor/index.html">Health</a></li>
                        <li><a href="/monitor/nodes.html">Nodes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div style="width:80%;margin-left: 10%">

<div class="list-group" id="cluster-health">
    <div id="cluster_name" >Cluster Name:&nbsp;&nbsp;</div>
    <div id="status">Cluster Status:&nbsp;&nbsp;</div>
    <div id="timed_out">Time Out:&nbsp;&nbsp;</div>
    <div id="number_of_nodes">Nodes Num:&nbsp;&nbsp;</div>
    <div id="number_of_data_nodes">Nodes Data Num:&nbsp;&nbsp;</div>
    <div id="active_primary_shards">Active Primary shards:&nbsp;&nbsp;</div>
    <div id="active_shards">Active shards:&nbsp;&nbsp;</div>
    <div id="relocating_shards">Relocating shards:&nbsp;&nbsp;</div>
    <div id="initializing_shards">Initializing shards:&nbsp;&nbsp;</div>
    <div id="unassigned_shards">Unassigned shards:&nbsp;&nbsp;</div>
    <div id="delayed_unassigned_shards">Delayed Unassigned shards:&nbsp;&nbsp;</div>
    <div id="number_of_pending_tasks">number_of_pending_tasks:&nbsp;&nbsp;</div>
    <div id="number_of_in_flight_fetch">number_of_in_flight_fetch:&nbsp;&nbsp;</div>
    <div id="task_max_waiting_in_queue_millis">task_max_waiting_in_queue_millis:&nbsp;&nbsp;</div>
    <div id="active_shards_percent_as_number">active_shards_percent_as_number:&nbsp;&nbsp;</div>
</div>
</div>

<input type="hidden" id="restClusterHealth" th:value="${restClusterHealth}"/>
<input type="hidden" id="restClusterStats" th:value="${restClusterStats}"/>
<input type="hidden" id="restNodes" th:value="${restNodes}"/>
<input type="hidden" id="restNodeStats" th:value="${restNodeStats}"/>
</body>
</html>