<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="nav:: head"></head>

<head>
    <title>CMM-Monitor</title>
    <script src="/monitor/script/monitor/func.js"></script>
    <script type="text/javascript">
//        $(document).ready(function(){
//            init();
//        });
        
    </script>
</head>
<body>
<div th:replace="nav:: menus"></div>


<iframe th:each="esmonitor:${esMonitors}" th:src="${esmonitor}" height="600" width="100%"></iframe>
<!--<div style="width:80%;margin-left: 10%">-->

<!--<div class="list-group" id="cluster-health">-->
    <!--<div id="cluster_name" >Cluster Name:&nbsp;&nbsp;</div>-->
    <!--<div id="status">Cluster Status:&nbsp;&nbsp;</div>-->
    <!--<div id="timed_out">Time Out:&nbsp;&nbsp;</div>-->
    <!--<div id="number_of_nodes">Nodes Num:&nbsp;&nbsp;</div>-->
    <!--<div id="number_of_data_nodes">Nodes Data Num:&nbsp;&nbsp;</div>-->
    <!--<div id="active_primary_shards">Active Primary shards:&nbsp;&nbsp;</div>-->
    <!--<div id="active_shards">Active shards:&nbsp;&nbsp;</div>-->
    <!--<div id="relocating_shards">Relocating shards:&nbsp;&nbsp;</div>-->
    <!--<div id="initializing_shards">Initializing shards:&nbsp;&nbsp;</div>-->
    <!--<div id="unassigned_shards">Unassigned shards:&nbsp;&nbsp;</div>-->
    <!--<div id="delayed_unassigned_shards">Delayed Unassigned shards:&nbsp;&nbsp;</div>-->
    <!--<div id="number_of_pending_tasks">number_of_pending_tasks:&nbsp;&nbsp;</div>-->
    <!--<div id="number_of_in_flight_fetch">number_of_in_flight_fetch:&nbsp;&nbsp;</div>-->
    <!--<div id="task_max_waiting_in_queue_millis">task_max_waiting_in_queue_millis:&nbsp;&nbsp;</div>-->
    <!--<div id="active_shards_percent_as_number">active_shards_percent_as_number:&nbsp;&nbsp;</div>-->
<!--</div>-->
<!--</div>-->

<!--<input type="hidden" id="restClusterHealth" th:value="${restClusterHealth}"/>-->
<!--<input type="hidden" id="restClusterStats" th:value="${restClusterStats}"/>-->
<!--<input type="hidden" id="restNodes" th:value="${restNodes}"/>-->
<!--<input type="hidden" id="restNodeStats" th:value="${restNodeStats}"/>-->
</body>
</html>