<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="nav:: head"></head>
<head>
    <title>CMM-information</title>


    <script src="/monitor/script/alert/func.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            init_info();
        });

    </script>
</head>
<body>

<div th:replace="nav:: menus"></div>
<!--
    private String index;         //index name
    private String name;          //alertName
    private Map<String,String> filter;        //search condition   field,key
    private String searchkey;        //search condition
    private String field;         //get field value

    private String cvalue;      //alert gt lt le ge eq
    private String conditionvalue;      //alert condition >field value
    private String ccount;      //gt lt le ge eq
    private String conditioncount;      //alert condition >count

    private String createtime;
    private String updatetime;
    private String notifications; //通知 , 分隔
    private String emailtitle; //
    private String emailtemplate; //
-->
<div style="width:80%;margin-left: 10%">

    <div th:replace="nav:: info"></div>
    <br/>
    <div class="control-group">
        <input type="hidden" id="hidden-name" value=""/>
        <button value="Create" class="btn btn-default" onclick="updateAlert()">UPDATE</button>
        <button value="Delete" class="btn btn-danger" onclick="deleteAlert('null')">DELETE</button>
        <button value="Logs" class="btn btn-warning" onclick="toLog()">LOGS</button>
    </div>
</div>
</body>
</html>