<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="nav:: head"></head>

<head>
    <title>CMM-logs</title>
    <script src="/monitor/script/alert/func.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            init_log_list();
        });

    </script>
</head>
<body>
<div th:replace="nav:: menus"></div>

<div style="width:80%;margin-left: 10%">

    <div class="list-group" id="alert-log-list">
    </div>
    <nav aria-label="Page navigation">
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>
</body>
</html>